
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iniciar Sesion</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Front/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Front/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Front/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>ERP</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Iniciar Sesion</p>

                <form action="javascript:;" method="post">
                    <div class="alert alert-danger" style="display:none" role="alert" id="mensajeError"></div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Usuario" id="loginUser">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" id="loginPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--<div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                    Remember Me
                </label>
            </div>
        </div>-->
                        <!-- /.col -->
                        <div class="col-4">
                            <button class="btn btn-primary btn-block" onclick="IniciarSesion();">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Front/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Front/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Front/dist/js/adminlte.min.js"></script>

    <script type="text/javascript">

        function IniciarSesion() {
                if ($("#loginUser").val() != 0 && $("#loginPassword").val() != 0) {
                    $.ajax({
                        url: "@Url.Action("IniciarSesion", "Login")",
                        cache: false,
                        data: { usr: $("#loginUser").val(), pass: $("#loginPassword").val() },
                        type: "POST",
                        dataType: "script"
                    });
                } else {
                    return MostrarMensaje('Error campos vacios');
                }
        }

        function MostrarMensaje(msj) {
            $("#mensajeError").show();
            $("#mensajeError").html(msj);
        }

        function redireccionar(url) {
            window.location = url;
        }

    </script>

</body >
</html >

